extends layout

block content
    div
        h2 Edit a Business
        form(method='post', action='/printers/edit/#{Printer._id}')
            label Name
            input(name='Name', required, placeholder='Name', value='#{Printer.Name}')
            label Logo
            input(type='File', required, placeholder='Logo', value='#{Printer.Logo}')
            label Address
            input(name='Address', required, placeholder='Address', value='#{Printer.Address}')
            label Country
            input(name='Country', required, placeholder='Country', value='#{Printer.Country}')
            label Telephone
            input(name='Telephone', required, placeholder='Telephone', value='#{Printer.Telephone}')
            label Email
            input(name='Email', required, placeholder='Email', value='#{Printer.Email}')
            input(type='hidden', name='id' value='#{Printer._id}')
            input(type='submit', value='Update Business')